.wrapper {
    position: fixed;
    width: calc(100vw - var(--primary-width-sidebar));
    height: calc(100vh - var(--primary-height-header));
    bottom: 0;
    right: 0;
    overflow: hidden;
    /* scroll-behavior: smooth; */
    font-family: arial;
    overflow-y: hidden;
    z-index: 1;
    /* scroll-snap-type: y mandatory; */
    --px-position: 18px;
}
.text-underline-hv:hover {
    text-decoration: underline;
}
/* slide styling */

.slide {
    height: 100%;
    position: relative;
    color: white;
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-right: calc(var(--primary-width-sidebar) / 2);
}

.slide .label {
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* navdot styling */

.navdot {
    position: fixed;
    list-style: none;
    padding: 0;
    margin: 0;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    opacity: 0.5;
}

.navdot li {
    height: 10px;
    width: 10px;
    border: solid 2px black;
    border-radius: 50%;
    margin-bottom: 10px;
    cursor: pointer;
}

.navdot li.active {
    background: black;
}

.box-video {
    display: block;
    cursor: pointer;
    height: 100%;
    object-fit: cover;
    object-fit: contain;

    overflow: clip;
    background-color: azure;
    border-radius: 16px;
}
.action {
    color: var(--text-color);
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    height: 95%;
    gap: 10px;

    /* width: 48px; */
}
.action .item {
    /* width: 100%; */
    /* padding: 3px; */
}
.current-user {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
}
.box-relative {
    position: relative;
}
.box-relative.box-video {
    height: 95%;
}
.box-relative .box-hover {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-relative .box-hover .icon-pause,
.box-relative .box-hover .icon-play {
    color: var(--while);
    background-color: black;
    background-color: rgba(22, 24, 35, 0.6);
    padding: 22px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    opacity: 0;
    transform: scale(0);
    display: none;
}
.box-relative .box-hover .icon-play.play {
    animation: zoomOut 1s ease-out forwards;
    display: flex;
}

.box-relative .box-hover .icon-pause.pause {
    animation: zoomOut 1s ease-out forwards;
    display: flex;
}

@keyframes zoomOut {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.btn-action {
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.btn-action .icon {
    border-radius: 50%;
    padding: 12px;
    width: 48px;
    height: 48px;
    background-color: rgba(22, 24, 35, 0.06);
    color: var(--text-color);
}
.btn-action .title {
    font-size: 12px;
    line-height: 16px;
    color: rgba(22, 24, 35, 0.75);
    text-align: center;
    font-weight: 700;
    font-family: var(--font-family);
}
.action .box-add-follow {
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 24px;
    height: 24px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.action .add-follow {
    color: var(--while);
}

.box-video .box-caption,
.box-video .box-floating,
.box-video .box-sound,
.box-video .box-sound-mute,
.box-video .box-more-icon,
.box-video .box-down,
.box-video .box-up {
    cursor: pointer;
    z-index: 10;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    /* background-color: rgba(255, 255, 255, 0.19); */
}

.box-video .info-video {
    z-index: 10;
    position: absolute;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    /* background-color: rgba(22, 24, 35, 0.6); */
    bottom: 0;
    top: 80%;
    right: 0;
    left: var(--px-position);
    gap: 6px;
}
.box-video .info-video .location {
    display: flex;
    align-items: center;
    gap: 7px;

    margin-bottom: 0px;
    min-width: 0px;
    height: 22px;
    border-radius: 4px;
    -webkit-box-align: center;
    align-items: center;

    background-color: rgba(37, 37, 37, 0.6);
    color: rgba(255, 255, 255, 0.9);
    padding: 4px 6px;
    font-size: 1.4rem;
    font-family: var(--font-family);
}
.box-video .info-video .nickname-and-time {
    display: flex;
    align-items: center;
    gap: 7px;
    margin-top: 8px;
    margin-bottom: 8px;
    color: rgba(255, 255, 255, 0.9);
    font-size: 1.4rem;
    font-family: var(--font-family);
    font-weight: 500;
}
.nickname-and-time a {
    color: currentColor;
}
.box-video .info-video .desc {
    display: flex;
    align-items: center;

    line-height: 18px;
    white-space: pre-wrap;
    font-size: 1.4rem;
    font-family: var(--font-family);
}
.box-video .info-video .music {
    display: flex;
    align-items: center;
    gap: 7px;
    -webkit-line-clamp: 1;
    font-size: 1.4rem;
    font-family: var(--font-family);
}
.box-video .box-caption {
    display: none;
}
.box-video .box-floating {
    display: none;
}

.box-video:hover .box-caption {
    bottom: var(--px-position);
    right: calc(var(--px-position) + 40px);
    display: flex;
    z-index: 11;
}
.box-video:hover .box-floating {
    bottom: var(--px-position);
    right: calc(var(--px-position));
    display: flex;
    z-index: 11;
}
.box-video .box-sound-mute,
.box-video .box-sound {
    width: 40px;
    height: 40px;
    margin: -10px;
    top: var(--px-position);
    left: var(--px-position);
    /* background-color: rgba(255, 255, 255, 0.19); */
}
.box-video .box-sound-mute .icon,
.box-video .box-sound .icon {
    width: 52px;
    height: 52px;
}

/* Style của đầu kéo (thumb) */
.box-video .time-video .time-video__input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 14px;
    width: 2px;
    overflow: hidden;
    background: var(--while);
    border-radius: 50%;
    cursor: pointer;
}
.box-video .time-video:hover .time-video__input::-webkit-slider-runnable-track {
    width: calc(100% - 12px); /* Trừ đi kích thước của đầu kéo */
    margin-right: -6px;
    margin-left: -6px;
}

.box-video .time-video .time-video__input::-webkit-slider-thumb:hover {
    cursor: grab;
}
.box-video .time-video .time-video__input::-webkit-slider-thumb:active {
    cursor: grabbing;
}
.box-hover .time-video {
    -webkit-appearance: none;
    color: blanchedalmond;
    cursor: pointer;
    z-index: 11;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 17px;
    width: 100%;
    overflow: hidden;
}
.box-hover .time-video .time-video__input {
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    height: 5px;
}
.box-hover .time-video:hover .time-video__input {
    height: 8px;
}
.box-video .time-video:hover .time-video__input::-webkit-slider-thumb {
    width: 16px;
    height: 16px;
    cursor: pointer;
    overflow: visible;
}
.sound-video {
    border-radius: 99px;
    padding: 12px 8px;
    display: block;
    position: relative;
    cursor: initial;
    background: rgba(22, 24, 35, 0.34);
    margin-top: 4px;
    margin-left: -8px;
}
.sound-video input {
    -webkit-appearance: none;
    appearance: none;
}
.sound-video input::-webkit-slider-runnable-track {
    width: calc(100% - 12px); /* Trừ đi kích thước của đầu kéo */
    margin-right: -6px;
    margin-left: -6px;
}
.sound-video input {
    width: 80px;
    height: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sound-video input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 14px;
    height: 14px;
    background: var(--while);
    border-radius: 50%;
    cursor: pointer;
}
@media screen and (max-width: 1024px) {
    .wrapper {
        background-color: rosybrown;
        width: calc(100vw - var(--primary-width-sidebar-mobile));
        /* grid-template-columns: [dead-space] 0px [card-content] 1fr 1rem [action-bar] 32px;
        max-width: calc(32px + 1rem + (0px - 2rem + 100vh) * 0.5625); */
    }
}

@media screen and (max-width: 768px) {
    .slide {
        padding-inline-end: 8px;
        /* padding-left: 8px; */
        width: fit-content;
    }
}
